doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css@1.12/mvp.css")
        title Noom
    body 
        header 
            h1 Noom 
        main 
            div#myStream 
                // autoplay: 자동실행
                // playsinline: 모바일브라우저 전체화면 막는 것(즉, 브라우저 실행), 전체화면 되면 모바일 동영상 플레이어가 실행됨.
                video#myFace(autoplay, playsinline, width="400", height="400") 
                button#mute Mute
                button#camera Turn Camera Off
                select#cameras
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js") 